.git
.github
.vscode
coverage
dist
*.md
# .prettierrc
*.log
*.md
nodemon*.json

# Secrets
# .env

# Node Files
# node_modules
npm-debug.log
npm-debug.log.*

# Source files
test
docs
