html,
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(34, 34, 34);
  color: rgb(99, 99, 99);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: gray

}

/*** fullcalendar overrides ***/

.fc .fc-scrollgrid-liquid {
  border: 1px solid rgb(48, 48, 48) !important;

}

.fc-theme-standard td, .fc-theme-standard th{
  border: 1px solid rgb(48, 48, 48) !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #323232;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
  box-shadow: 0px 0px 0px 1px #626262;
  padding: 5px;
}

.fc .fc-timegrid-col.fc-day-today {  background-color: rgb(62 62 62 / 15%);

}


.fc .fc-button {
  color: #fff;
  background-color: #323232;
  border-color: rgb(23, 21, 21);
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fc-button-active{
  color: #fff;
  background-color: #126da5 !important;
  border-color: rgb(23, 21, 21)
}

.fc-direction-ltr .fc-button-group > .fc-dayGridMonth-button.fc-button:not(:last-child) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.fc-direction-ltr .fc-button-group > .fc-timeGridDay-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fc-toolbar-title{
  font-size: 1.2em !important;
}

.fc .fc-button-primary{
  background-color: #126da5;
  border-radius: 20px;
}

.fc .fc-button-primary:disabled {
  background-color: rgb(63, 63, 63);
  border-color: rgb(94, 94, 94);
}

.fc-direction-ltr .fc-button-group > .fc-prev-button.fc-button:not(:last-child) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.fc-direction-ltr .fc-button-group > .fc-next-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fc-button-active {
  color: #fff;
  background-color: #323435 !important;
  border-color: rgb(23, 21, 21);
}

.fc-v-event-blue {
  border-left: 8px solid #3788d8 !important;
  padding-left: 7px;
  margin-left: 0px;

}

.fc-v-event-green {
  border-left: 8px solid #17ad2e !important;
  padding-left: 7px;
  margin-left: 0px;

}

.fc-v-event-orange {
  border-left: 8px solid #df7c11 !important;
  padding-left: 7px;
  margin-left: 0px;
}

.fc-v-event-purple {
  border-left: 8px solid #9e40c9 !important;
  padding-left: 7px;
  margin-left: 0px;

}

.fc-v-event-red {
  border-left: 8px solid #964949 !important;
  padding-left: 7px;
  margin-left: 0px;

}

.fc-v-event-yellow {
  border-left: 8px solid #f9e93b !important;
  padding-left: 7px;
  margin-left: 0px;

}

.fc-v-event-cyan {
  border-left: 8px solid cyan !important;
  padding-left: 7px;
  margin-left: 0px;

}



.slot_height_hours{
  height: 50px !important;
}

.fc-daygrid-event-harness{
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 4px;
  border: 1px solid rgb(89, 89, 89);
  color: rgb(198, 198, 198);
}


.fc-timegrid-event .fc-event-main {
  padding: 1px 0px 0;
  display: flex;
}