.container {
  width: 100%;
  height: 80px;
  /* box-shadow: 0 1px 3px rgba(15, 15, 15, 0.13); */
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  /* background-color: #222222; */
  color: white !important;

}

.leftSide {
  display: flex;
}

.rightSide {
  display: flex;
}
.mainLinks {
  display: flex;
  flex: 2;
  height: 100%;
  justify-content: center;
}

.logoWrapper {
  display: flex;
  align-items: center;

}

.logoImg {
  width: 29px;
  height: 29px;
}

.logoImg img {
  width: 100%;
  height: 100%;
}

.logoTxth2 {
  margin: 0;
  margin-left: 10px;
  /* color: #222; */
  font-weight: 500;
  font-size: 1.4em;
}

.navLinksContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.linksWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  list-style: none;
}

.linkItem {
  height: 100%;
  padding: 0 1.1em;
  color: #222;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 2px solid transparent;
  transition: all 220ms ease-in-out;
}

.linkItem:hover {
  border-top: 2px solid #2ecc71;
}

.linkItemTxt{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.actionContainer {
  display: flex;
  margin-left: 10px;
}

.homeBtn {
  border: 0;
  outline: 0;
  padding: 8px 1em;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  background-color: #6b6b6c;
  transition: all 240ms ease-in-out;
  cursor: pointer;
  font-size: 1em;
}

.homeBtn:hover {
  background-color: #29618c;
}

.homeBtn:not(:last-of-type) {
  margin-right: 7px;
}

.aboutBtn {
  border: 0;
  outline: 0;
  padding: 8px 1em;
  color: rgb(205, 205, 205);
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #8e9091;
  transition: all 240ms ease-in-out;
  cursor: pointer;
  font-size: 1em;
}

.aboutBtn:hover {
  color: #fff;
  background-color: #29618c;
}

.aboutBtn:not(:last-of-type) {
  margin-right: 7px;
}

.mobileNavLinksContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.mobileLinksWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  list-style: none;
  background-color: #fff;
  width: 100%;
  flex-direction: column;
  position: fixed;
  top: 65px;
  left: 0;
}

.mobileLinkDivider {
  height: 2em;
}

.mobileLinkItem  {
  width: 100%;
  padding: 0 1.1em;
  color: #222;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  margin-bottom: 10px;
}

.mobileLinkTxt {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}


.menuTogglerBtn{
    z-index: 99;
  cursor: pointer;
}